body {
    font-family: 'Poppins',sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
    background: rgb(200, 224, 248);
}

h1{
    text-align: center;
    padding-top: 30px;
    margin-bottom: 10px;
    color: hwb(0 8% 35%);
    font-size:50px;
}

p{
    margin-left: 20px;
    text-align: center;
}



.navbar {
    position: fixed; 
    top: 0; 
    left: 0;
    width: 100%; 
    padding:  0;
    z-index: 1; 
    font-size:20px;
}

.navbar ul{
    list-style-type: none;
    background-color:hwb(0 8% 35%);
    padding-left: 20px;
    margin: 0px;
    overflow: hidden;
}

.navbar li{
    float: left;
}

.navbar li :first-child{
    margin-left: 5%;
}

.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar a:hover{
    background-color: hsl(0, 0%, 10%);
}




.naslov {
    padding-top: 50px;
    text-align:center;
    margin-bottom: 10px;
}

.galerija {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 10px; 
    list-style: none;
    padding: 0;
    margin: 20px;
}

.galerija li {
    overflow: hidden;
}

.galerija img {
    width: 100%; 
    height: auto; 
    display: block;
    object-fit: cover; 
    aspect-ratio: 3 / 4; 
}




.pricing-container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.pricing-container h2{
    margin-top:20px;
}

.pricing {
    margin-top: 15px;
}

.price-option {
    margin-bottom: 15px;
}

.price-option h2 {
    margin-bottom: 5px;
}

.price-option p {
    margin: 0;
    font-size:20px;
}

input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    padding-bottom:5px ;
}

input[type="number"] {
    width: 60px;
    padding: 5px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

label{
    margin-bottom:6px ;
    margin-right: 10px;
    color:  hwb(0 8% 35%);
}

label, input[type="number"] {
    display: inline-block;
    vertical-align: middle;
}

#total-price {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}




iframe{
    padding: 10px;
    margin: 10px;
    width: 98%;
    height: 500px;
    min-height: 400px;
}





.container{
    width:80%;
    margin:50px auto;
}

.container h1{
    text-align: left;
    padding-top: 40px;
}

.contact-box{
    background: white;
    display: flex;
}

.contact-left{
    flex-basis: 65%;
    padding: 40px 60px;
}

.contact-left h3{
    color: hwb(0 8% 35%);
    font-weight:600 ;
    margin-bottom:30px ;
}


.input-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.input-row .input-group{
    flex-basis:45% ;

}

textarea{
    width: 100%;
    border:1px solid #ccc;
    outline:none;
    padding: 10px;
    box-sizing: border-box;
    height: 140px;
}



.contact-right{
    flex-basis: 35%;
    padding: 40px ;
    background: hwb(0 8% 35%);
    color:white;
}

.contact-right h3{
    font-weight:600 ;
    margin-bottom:30px ;
}

tr td:first-child{
    padding-right: 20px;
}

tr td{
    padding-top:20px ;
}


button{
    background: hwb(0 8% 35%);
    color: white;    
    width: 170px;      
    height: 35px;       
    padding: 10px 20px;
    font-size: 16px;    
    outline: none;
    border: none;
    border-radius:30px ;
    cursor: pointer;    
    margin-left: 10px;
    margin-top:20px ;    
}

button:hover {
    background-color: hsl(0, 0%, 10%);
}




@media (max-width: 480px) {
    .galerija {
        grid-template-columns: 1fr; 
    }       
}

@media (max-width: 1024px) {
    .galerija {
        grid-template-columns: repeat(2, 1fr); 
    }
}